.nav {
  /* background-color:rgb(244 247 248); */
  background-color:#3F7A63 ;
}
.nav-link {
  color: #F29089 !important;
  padding-right: 5rem !important;
  font-family: 'Pacifico', cursive;
  font-size: 30px;
}
.texto {
  font-family: 'Pacifico', cursive;
}
.skills {
  background-color:rgb(244, 247, 248);
}
.subtitle{
  color:#3F7A63;
  font-family: 'Pacifico', cursive;
  padding-top: 155px;
}
.footer{
  background-color:#3F7A63;
  color:#F29089;
  font-family: 'Pacifico', cursive;
}
